.tweet {
  color: var(--c-text-color);
  display: grid;
  grid-template-areas: "avatar body";
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  padding: 12px 15px;
  border-bottom: solid 1px var(--c-border-color);
}

.avatar {
  grid-area: avatar;
}
.slug {
  color: var(--c-gray);
}
.time {
  color: var(--c-gray);
}
.header {
}
.name {
  color: var(--c-text-color);
  font-weight: bold;
  padding-right: 5px;
}
.footer {
  display: flex;
  align-items: center;
}

.footerButton {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--c-gray);

  &:first-child {
    margin-left: -8px;
  }
  span {
    font-size: 0.9em;
    padding-bottom: 2.5px;
    padding-left: 8px;
  }
}

.actionButton {
  color: inherit;

  svg {
    font-size: 19px;
  }
}

.like {
  color: inherit;

  svg {
    font-size: 19px;
  }
  &:hover {
    color: var(--c-like);
    background-color: var(--c-like-10);
  }
}
.retweet {
  color: inherit;

  svg {
    font-size: 19px;
  }
  &:hover {
    color: var(--c-retweet);
    background-color: var(--c-retweet-10);
  }
}

.body {
  grid-area: body;
}
.content {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
}
